<div id="overall">
</div>
<div class="header">
  <a href="#" class="logo" >Destination</a>

  <!-- Search box -->

  <form autocomplete="off" >


    <a href="#" class="search-icon-after">
      <img src="./../../assets/assets/search-ico2.png">
      <label class="labelab" for="city"></label>
    </a>
    <a href="#" class="close">
      <img src="./../../assets/assets/close-ico2.png">
      <label class="labelab" for="city"></label>
    </a>
  </form>


  <!-- /Search box -->

  <a href="#"></a>
  <ul class="navigation">
    <li>
      <a href="#">Popular places</a>
    </li>
    <li>
      <a href="#">Test</a>
    </li>
  </ul>
</div>

<div class="container_in">
  <h1>I'm going
    <br class="mobile-break">on an adventure!</h1>
  <h2 class="whatever">
    Find essential information
    <br class="mobile-break"> for your next journey
  </h2>
</div>
<br>
<br>

<div class="center" style="margin-left:100px;margin-right:100px;">
  <form autocomplete="off" >
    <div class="form-group">
      <label for="cars">Choose a category:</label>

      <select name="plan" id="plan">
        <option value="none" selected disabled hidden>
          Select an Option
      </option>

  <option value="Camping Trip">Adventures</option>
  <option value="Group Trip">Tourist Destination</option>

</select>
    </div>
    <br>
    <div class="form-group">
      <label for="cars">Choose a Subcategory:</label>

      <select name="plan" id="plan">
        <option value="none" selected disabled hidden>
          Select an Option
      </option>
        <option value="HILLSTATION">Hillstation</option>
        <option value="HILLSTATION">Scuba Diving</option>


      </select>
    </div>
    <br>
    <div class="form-group">


    <button routerLink="/search1">Search</button>
              </div>
  </form>
  <br><br><br>
  <br><br><br>
</div>
<br><br><br>

<br>
<br>
<br>
<div class="popular-destinations">
  <h2 class="strip-headline">Our Services</h2>
  <div class="cards-strip">
    <div class="cards-strip_in">
      <a href="#" class="destination-card london">
        <span class="card-place-category">Adventurous</span>
        <div class="card-description">
          <h3 class="place-name">Rock Climbing</h3>
          <p class="place-tagline">Under surveillance of experts</p>
        </div>
      </a>
      <a href="#" class="destination-card prague" onclick="return false;">
        <span class="card-place-category">Tourist Destinations</span>
        <div class="card-description">
          <h3 class="place-name">Hill Station</h3>
          <p class="place-tagline">Hill of hundred spires</p>
        </div>
      </a>
      <a href="#" class="destination-card sanfrancisco">
        <span class="card-place-category">Adventurous</span>
        <div class="card-description">
          <h3 class="place-name">Scuba Diving</h3>
          <p class="place-tagline">Under surveillance of experts</p>
        </div>
      </a>
      <a href="#" class="destination-card rome">
        <span class="card-place-category">Adventurous</span>
        <div class="card-description">
          <h3 class="place-name">Paragliding</h3>
          <p class="place-tagline">Under surveillance of experts</p>
        </div>
      </a>
      <a href="#" class="destination-card budapest">
        <span class="card-place-category">Hungary</span>
        <div class="card-description">
          <h3 class="place-name">Budapest</h3>
          <p class="place-tagline">Little Paris of Middle Europe</p>
        </div>
      </a>
      <a href="#" class="destination-card hongkong">
        <span class="card-place-category">China</span>
        <div class="card-description">
          <h3 class="place-name">Hong Kong</h3>
          <p class="place-tagline">Asia's World City</p>
        </div>
      </a>
      <a href="#" class="destination-card paris">
        <span class="card-place-category">France</span>
        <div class="card-description">
          <h3 class="place-name">Paris</h3>
          <p class="place-tagline">The city of love</p>
        </div>
      </a>
      <a href="#" class="destination-card amsterdam">
        <span class="card-place-category">Tourist Destinations</span>
        <div class="card-description">
          <h3 class="place-name">Water World</h3>
          <p class="place-tagline">Enjoy the world full of water</p>
        </div>
      </a>
      <a href="#" class="destination-card singapore">
        <span class="card-place-category">Singapore</span>
        <div class="card-description">
          <h3 class="place-name">Singapore</h3>
          <p class="place-tagline">The Lion City</p>
        </div>
      </a>
      <a href="#" class="last">
      </a>



    </div>
  </div>
  <app-footer></app-footer>
</div>
