<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="./../assets/images/about.jpg">
            </div>

            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">About VoV<i class="material-icons right"></i>
              </span>
              <p>
                  <br>  <br>
                  The land which has undoubtedly its own way of life; the land that showcases the scintillating part
                  of natural beauty, majestic culture, ancient heritage and grand wildlife; India invites all for a
                  tremendous classical tour at its variant location for various purposes and for different reasons for
                  celebration.
                  <br>  <br>
                  Tour My India takes the privilege to make you get acquainted with the glorified treasures of this
                  amazing ancient country. <br>  <br>The country which is full of differences and with the most alluring tour
                  operating services we are ready to assist you to recognize and respect those differences and versatility
                  in a grand and royal manner. For booking, accommodation,<br>  <br> <br>transportation and guidance our dedicated
                  members will always stand by you to bring the most impressive Tour My India Travel Services.

                  From Northern Himalayas to Southern beaches, Eastern jungles to Western deserts,
                  India is flourished with so many cultural and geographical diversities, a perfect reason for
                  India tourism. There is simply no other words that catch the true enigma of this land where great
                  legends still holds its power and impression, <br>  <br>the grand architectural structures are the true
                  reflector of history and the life of the spirit can be sacredly glimpsed at different temples and
                  pilgrimage sites at its every corner.
                </p>
            </div>
          </div>
    </div>
    <div class="col s6">

      <div class="row">
          <div class="col s12 m12">
            <div class="card-panel">
              <span class="black-text">
                <h2>What we are?</h2>
                <br>  <br><br>
                <p>
                  The land which has undoubtedly its own way of life; the land that showcases the scintillating part
                  of natural beauty, majestic culture, ancient heritage and grand wildlife; India invites all for a
                  tremendous classical tour at its variant location for various purposes and for different reasons for
                  celebration.
                  <br>  <br>
                  Tour My India takes the privilege to make you get acquainted with the glorified treasures of this
                  amazing ancient country. <br>  <br>The country which is full of differences and with the most alluring tour
                  operating services we are ready to assist you to recognize and respect those differences and versatility
                  in a grand and royal manner. For booking, accommodation,<br>  <br> <br>transportation and guidance our dedicated
                  members will always stand by you to bring the most impressive Tour My India Travel Services.
                  From Northern Himalayas to Southern beaches, Eastern jungles to Western deserts,
                  India is flourished with so many cultural and geographical diversities, a perfect reason for
                  India tourism. There is simply no other words that catch the true enigma of this land where great
                  legends still holds its power and impression, <br>  <br>the grand architectural structures are the true
                  reflector of history and the life of the spirit can be sacredly glimpsed at different temples and
                  pilgrimage sites at its every corner.
                </p>
              </span>
            </div>
          </div>
        </div>
    </div>
  </div>
