<div class="center" style="margin-left:100px;margin-right:100px;">
  <table class="table table-striped">
    <thead>
      <th>ServiceID</th>
      <th>ServiceName</th>
      <th>ServiceDescription</th>
      <th>ServiceAddress</th>
    </thead>


    <thead>
      <th>19</th>
      <th>Hillstation</th>
      <th>DescriptionDescriptionDescription</th>
      <th>Tamil nadu</th>
    </thead>
    <td>
      <button routerLink="/servicess">Book</button>
    </td>


      <thead>
        <th>22</th>
        <th>Hillstation</th>
        <th>DescriptionDescriptionDescription</th>
        <th>Uttarakhand</th>
      </thead>


        <td>
          <button routerLink="/servicess">Book</button>
        </td>
        <tbody>
    </tbody>
  </table>
</div>
